 .navbar{
    
   display: flex;
    top:15px;
    padding: 20px;
   
}
 
.navbar li{
    list-style: none;
  
    
    
}
.navbar a{
  
    text-decoration: none;
    background-color: rgb(114, 212, 179);
    color: aliceblue;
    padding:  20px;
   
    
   
}  
